<!-- body -->
<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">关于</h4>
    </div>
    <div class="panel-body">
      <p class="lead">有问题请联系技术平台web@babeltime.com</p>
    </div>
  </div>
  {{>footer}}
</div>